.vs/*
PhantasmaExplorer/properties/*
PhantasmaExplorer/bin/*
PhantasmaExplorer/obj/*
PhantasmaExplorer/www/netcore*
PhantasmaExplorer/www/bin/netcore*
PhantasmaExplorer/publish/*
*.user

PhantasmaExplorer/www/nacho_addresses\.txt

PhantasmaExplorer/www/vm_dump\.txt
