body {
    font-family: Open Sans;
    font-size: 14px;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100%;
    padding-top: 30px;
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
    border: none;
}

.home-title {
    color: white;
    font-size: 35px;
    line-height: 47px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.page-title {
    color: #7C95AB;
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

.logo {
    padding: 10px 10px 0 10px;
}

.logo-header {
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    color: white;
}

.search-box {
    background-color: white;
    padding: 40px;
    -webkit-box-shadow: 10px 10px 26px -10px rgba(74,74,74,1);
    -moz-box-shadow: 10px 10px 26px -10px rgba(74,74,74,1);
    box-shadow: 10px 10px 26px -10px rgba(74,74,74,1);
    margin-bottom: 50px;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: transparent !important;
}

.navbar-nav {
    float: right;
    margin: 0;
}

.menu-top-bar-li {
    display: inline;
    padding: 5px 20px;
}

    .menu-top-bar-li a {
        color: white;
        font-weight: 600;
        font-size: 14px;
    }


.footer-copyrights {
    color: #17B0E7;
}

.table {
    line-height: 19px;
}

    .table .home-label {
        height: 19px;
        color: #7C95AB;
        font-family: "Open Sans";
        font-weight: 300;
        border-bottom: 1px solid #ddd;
        border-top: none;
    }

    .table .home-label-value {
        height: 19px;
        color: #7C95AB;
        font-family: "Open Sans";
        font-weight: 600;
        line-height: 19px;
        text-align: right;
        border-bottom: 1px solid #ddd;
        border-top: none;
    }

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: rgba(23, 176, 231, 0.05);
    padding: 15px;
    border-bottom: 1px solid #17B0E7;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
    background-color: white;
    padding: 15px;
    border-bottom: 1px solid #17B0E7;
}

.panel-phantasma {
    border-color: #17B0E7;
}

.panel-body {
    padding: 10px 25px;
}

.label-success {
    margin-left: 10px;
    border-radius: 5px;
}

.label-danger {
    margin-left: 10px;
    border-radius: 5px;
}

.panel-default > .panel-heading {
    background-image: none;
    background-color: #17B0E7;
    color: white;
    font-weight: 500;
    border-radius: 1px;
    border: 1px;
    border-color: #17B0E7;
}

.btn-view-all {
    border-color: #FFFFFF;
    border: 2px;
    background-color: transparent;
    color: white;
}
