/* change navbar background on collapse */
@media(max-width:990px) {
    header .breadcrumb {
        display: none;
    }

    .navbar-header {
        float: none;
    }

    nav.navbar {
        background: transparent;
    }

    nav .navbar-nav {
        background-color: #0ea4db !important;
        border-radius: 5px;
    }

    body {
        background-image: url('../img/mobile_background.png') !important;
    }

    .home-title {
        font-size: 26px !important;
        padding-top: 26px !important;
    }
}

@media(min-width:991px) {
    header .navbar {
        display: none;
    }
}


body {
    font-family: Open Sans;
    font-size: 14px;
    z-index: -1;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100%;
}
/* Footer */
footer {
    width: 100%;
    height: 200px;
    color: white
}

    footer h3 {
        margin-bottom: 30px;
    }

    footer .footer-above {
        padding-top: 50px;
        background-color: transparent;
    }

    footer .footer-col {
        margin-bottom: 50px;
    }

    footer .footer-below {
        padding: 30px 0;
        background-color: transparent;
    }

.footer-copyrights {
    color: #17B0E7;
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
    border: none;
}

.home-title {
    color: white;
    font-size: 35px;
    line-height: 47px;
    text-align: center;
    margin-bottom: 50px;
}

.first-page-row {
    margin-top: 50px;
}

.page-title {
    color: #7C95AB;
    font-size: 25px;
    text-align: center;
    margin: 60px 0;
}

.logo {
    padding: 10px 10px 0 10px;
}

.logo-header {
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    color: white;
}
/* SEARCH */
.search {
    width: 100%;
    position: relative
}

.search-box {
    background-color: white;
    padding: 40px;
    -webkit-box-shadow: 10px 10px 26px -10px rgba(74,74,74,1);
    -moz-box-shadow: 10px 10px 26px -10px rgba(74,74,74,1);
    box-shadow: 10px 10px 26px -10px rgba(74,74,74,1);
    margin-bottom: 40px;
    border-radius: 0px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 50%;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form {
    display: inherit;
}

.search-query:focus + button {
    z-index: 3;
}

.input-group {
    width: 100%;
}

#custom-search-input {
    margin: 0;
    padding: 0;
}

    #custom-search-input .search-query {
        margin-bottom: 0;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        border: 1px solid #0EA4DB;
    }

    #custom-search-input button {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        border: 1px solid #0EA4DB;
    }
/* END SEARCH */

.tab-panel-general > nav > li > a:focus {
    text-decoration: none;
    background-color: #F3FBFE !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.nav-tabs > li > a {
    border-radius: 0px;
}

.navbar-nav {
    float: right;
    margin: 0;
}

.icon-bar {
    background-color: white !important;
}

.navbar-brand > h1 {
    display: inline !important;
    margin-right: 16px;
}

.navbar-brand > img {
    display: inline !important;
    margin-top: -12px;
    margin-right: 12px;
}

.menu-top-bar-li {
    display: inline;
    padding: 5px 20px;
}

    .menu-top-bar-li a {
        color: white;
        font-weight: 600;
        font-size: 14px;
    }

.table {
    line-height: 19px;
    table-layout: auto;
    border-collapse: collapse;
    overflow: auto;
}

.table-responsive {
    padding: 1px;
}

.home-tx-table {
    table-layout: fixed;
}

.table .home-label {
    color: #7C95AB;
    font-family: "Open Sans";
    font-weight: 300;
    border-bottom: 1px solid #DEDEDE;
    border-top: none;
}

.table > tbody > tr > td {
    border-top: none;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table .home-label-value {
    color: #7C95AB;
    font-family: "Open Sans";
    font-weight: 600;
    line-height: 19px;
    text-align: right;
    border-bottom: 1px solid #DEDEDE;
    border-top: none;
}

.table tr:last-child td {
    border-bottom: 0;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
    background-color: rgba(23, 176, 231, 0.05);
    padding: 10px;
    border-bottom: 1px solid #17B0E7;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid #17B0E7;
}

.table-general {
    width: 100%;
    table-layout: auto;
    max-width: 100%;
    border-collapse: collapse;
}

    .table-general tbody tr {
        border: 1px solid #17B0E7 !important;
        /*border-left: 2px solid #17B0E7 !important;*/
    }

    .table-general th {
        font-size: 14px;
        font-weight: 600;
        color: #7C95AB;
        border-bottom: 1px solid #17B0E7 !important;
        white-space: normal;
        width: auto;
    }

    .table-general td {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #7C95AB;
    }

        .table-general td a {
            color: #17B0E7;
        }

.tab-panel-general {
    margin-top: 40px;
}

    .tab-panel-general .nav-tabs {
        border-bottom: 0px;
    }

        .tab-panel-general .nav-tabs > li > a {
            color: #7C95AB;
            cursor: pointer;
            font-weight: 600;
            background-color: white;
            border: 1px solid #0EA4DB;
        }

        .tab-panel-general .nav-tabs > li.active > a {
            cursor: pointer;
            color: #17B0E7;
            font-weight: 600;
            background-color: #F3FBFE;
            border-bottom-color: #F3FBFE;
        }

.panel-default {
    border-radius: 0px;
}

.panel-home {
    border-color: #17B0E7;
    border-radius: 0px;
}

    .panel-home > .panel-heading {
        background-image: none;
        background-color: #17B0E7;
        color: white;
        font-weight: 500;
        border-radius: 0px;
        border: 1px;
        border-color: #17B0E7;
    }

.panel-body {
    padding: 10px 25px;
    overflow: auto;
}

.panel-single {
    border-color: #17b0e7;
    border-radius: 0px;
}

    .panel-single > .panel-heading {
        color: #7C95AB;
        background-color: rgba(23, 176, 231, 0.05);
        border-color: #17b0e7;
    }

    .panel-single td {
        overflow: hidden;
        text-overflow: ellipsis;
        color: #7C95AB;
    }

        .panel-single td a {
            color: #17B0E7;
        }

/* Prices */
.label-success {
    margin-left: 10px;
    border-radius: 5px;
}

.label-danger {
    margin-left: 10px;
    border-radius: 5px;
}

.label-as-badge {
    border-radius: 1em;
}
/* End Prices*/

.btn-view-all {
    border-color: #FFFFFF;
    border: 2px;
    background-color: transparent;
    color: white;
}

.bold-home-link a {
    color: #17B0E7;
    font-weight: 600;
    line-height: 19px;
}

.thin-home-link > a {
    color: #17B0E7;
    font-weight: 300;
    line-height: 19px;
}

.td-bottom-border {
    border-bottom: 1px solid #DEDEDE;
}

.pager li > a {
    color: #17b0e7;
}

/*cards*/
/* FROM BOOTSRAP 4.0*/
.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: 0.75rem;
}

.card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0;
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-link:hover {
    text-decoration: none;
}

.card-link + .card-link {
    margin-left: 1.25rem;
}

.card > .list-group:first-child .list-group-item:first-child {
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f7f7f9;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

    .card-header:first-child {
        border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    }

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #f7f7f9;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

    .card-footer:last-child {
        border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
    }

.card-header-tabs {
    margin-right: -0.625rem;
    margin-bottom: -0.75rem;
    margin-left: -0.625rem;
    border-bottom: 0;
}

.card-header-pills {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
}

.card-primary {
    background-color: #0275d8;
    border-color: #0275d8;
}

    .card-primary .card-header,
    .card-primary .card-footer {
        background-color: transparent;
    }

.card-success {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

    .card-success .card-header,
    .card-success .card-footer {
        background-color: transparent;
    }

.card-info {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

    .card-info .card-header,
    .card-info .card-footer {
        background-color: transparent;
    }

.card-warning {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

    .card-warning .card-header,
    .card-warning .card-footer {
        background-color: transparent;
    }

.card-danger {
    background-color: #d9534f;
    border-color: #d9534f;
}

    .card-danger .card-header,
    .card-danger .card-footer {
        background-color: transparent;
    }

.card-outline-primary {
    background-color: transparent;
    border-color: #0275d8;
}

.card-outline-secondary {
    background-color: transparent;
    border-color: #ccc;
}

.card-outline-info {
    background-color: transparent;
    border-color: #5bc0de;
}

.card-outline-success {
    background-color: transparent;
    border-color: #5cb85c;
}

.card-outline-warning {
    background-color: transparent;
    border-color: #f0ad4e;
}

.card-outline-danger {
    background-color: transparent;
    border-color: #d9534f;
}

.card-inverse {
    color: rgba(255, 255, 255, 0.65);
}

    .card-inverse .card-header,
    .card-inverse .card-footer {
        background-color: transparent;
        border-color: rgba(255, 255, 255, 0.2);
    }

    .card-inverse .card-header,
    .card-inverse .card-footer,
    .card-inverse .card-title,
    .card-inverse .card-blockquote {
        color: #fff;
    }

        .card-inverse .card-link,
        .card-inverse .card-text,
        .card-inverse .card-subtitle,
        .card-inverse .card-blockquote .blockquote-footer {
            color: rgba(255, 255, 255, 0.65);
        }

            .card-inverse .card-link:focus, .card-inverse .card-link:hover {
                color: #fff;
            }

.card-blockquote {
    padding: 0;
    margin-bottom: 0;
    border-left: 0;
}

.card-img {
    border-radius: calc(0.25rem - 1px);
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
}

.card-img-top {
    border-top-right-radius: calc(0.25rem - 1px);
    border-top-left-radius: calc(0.25rem - 1px);
}

.card-img-bottom {
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
}

@media (min-width: 576px) {
    .card-deck {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }

        .card-deck .card {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 1;
            -webkit-flex: 1 0 0%;
            -ms-flex: 1 0 0%;
            flex: 1 0 0%;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }

            .card-deck .card:not(:first-child) {
                margin-left: 15px;
            }

            .card-deck .card:not(:last-child) {
                margin-right: 15px;
            }
}

@media (min-width: 576px) {
    .card-group {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }

        .card-group .card {
            -webkit-box-flex: 1;
            -webkit-flex: 1 0 0%;
            -ms-flex: 1 0 0%;
            flex: 1 0 0%;
        }

            .card-group .card + .card {
                margin-left: 0;
                border-left: 0;
            }

            .card-group .card:first-child {
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
            }

                .card-group .card:first-child .card-img-top {
                    border-top-right-radius: 0;
                }

                .card-group .card:first-child .card-img-bottom {
                    border-bottom-right-radius: 0;
                }

            .card-group .card:last-child {
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
            }

                .card-group .card:last-child .card-img-top {
                    border-top-left-radius: 0;
                }

                .card-group .card:last-child .card-img-bottom {
                    border-bottom-left-radius: 0;
                }

            .card-group .card:not(:first-child):not(:last-child) {
                border-radius: 0;
            }

                .card-group .card:not(:first-child):not(:last-child) .card-img-top,
                .card-group .card:not(:first-child):not(:last-child) .card-img-bottom {
                    border-radius: 0;
                }
}

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
    }

        .card-columns .card {
            display: inline-block;
            width: 100%;
            margin-bottom: 0.75rem;
        }
}
/* END */
.card-market {
    border: 2px solid #03a4e0;
    border-radius: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .25);
}

.card-header {
    background-color: #03a4e0;
    border-color: transparent;
    border-radius: 0 !important;
    font-size: 15px;
    color: white;
    font-weight: 500;
}

.card-button {
    background: -moz-linear-gradient(0deg, rgba(4,187,255,1) 0%, rgba(3,164,224,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(4,187,255,1)), color-stop(100%, rgba(3,164,224,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(0deg, rgba(4,187,255,1) 0%, rgba(3,164,224,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(0deg, rgba(4,187,255,1) 0%, rgba(3,164,224,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(0deg, rgba(4,187,255,1) 0%, rgba(3,164,224,1) 100%); /* ie10+ */
    background: linear-gradient(90deg, rgba(4,187,255,1) 0%, rgba(3,164,224,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04BBFF', endColorstr='#03A4E0',GradientType=1 ); /* ie6-9 */ 
    color: white;
    text-align: center;
    border: 0px;
    border-radius: 0;
    margin: 2rem;
    width: auto;
}

.card-image {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 80%;
    max-height: 100%;
    vertical-align: middle;
}

.item-date {
    margin-bottom: 0;
    font-weight: 500;
    margin-top: 0;
    color: #7C95AB;
}

.price-text {
    margin-top: 15px;
    color: #17b0e7;
    font-weight: 500;
}