<div class="row">
    <div class="col-lg-12">
        <h1>Addresses</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Address</th>
                    <th>Name</th>
                    <th>Balance</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {{#each addresses}}
                <tr>
                    <td><a href="/address/{{Address}}">{{Address}}</a></td>
                    <td>{{Name}}</td>
                    <td>{{Balance}} SOUL</td>
                    <td>${{#value Value}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
</div>
