<div class="row">
    <div class="col-lg-12">
        <h1 class="page-title">Address {{address.Address}}</h1>
        {{#if address.NativeBalances}}
        <table class="table table-striped table-responsive table-general">
            <thead>
                <tr>
                    <th>Balance</th>
                    <th>Chain</th>
                    <th>Value</th>
                    <th>Transactions</th>
                </tr>
            </thead>
            <tbody>

                {{#each address.NativeBalances}}
                <tr>
                    <td>{{Balance}} SOUL</td>
                    <td>{{ChainName}}</td>
                    <td>{{#value Value}}</td>
                    <td>{{TxnCount}} txns</td>
                </tr>
                {{/each}}

            </tbody>
        </table>
        {{#else}}
        <br />
        <h4 style="color: #7C95AB; font-size: 16px; padding-left: 18px;">No balances to show</h4>
        <br />
        {{/if}}

        <div class="col-lg-12 tab-panel-general">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item active">
                    <a class="nav-link" id="transactions-tab" data-toggle="tab" href="#transactions" role="tab" aria-controls="transactions" aria-selected="true">Transactions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tokens-tab" data-toggle="tab" href="#tokens" role="tab" aria-controls="tokens" aria-selected="false">Tokens</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane active" id="transactions" role="tabpanel" aria-labelledby="transactions-tab">
                    <div class="panel panel-default">
                        <div class="panel-body" style="word-break: break-all">
                            {{#if address.Transactions}}
                            <table class="table table-responsive table-striped table-general">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Chain</th>
                                        <th>Hash</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each address.Transactions}}
                                    <tr>
                                        <td>{{#date Date}}</td>
                                        <td><a href="/chain/{{ChainAddress}}">{{ChainName}}</a></td>
                                        <td>{{#link-tx Hash}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                            {{#else}}
                            Nothing here...
                            {{/if}}
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tokens" role="tabpanel" aria-labelledby="tokens-tab">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {{#if address.TokenBalance}}
                            <table class="table table-responsive table-striped table-general">
                                <thead>
                                    <tr>
                                        <th>Token</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each address.TokenBalance}}
                                    <tr>
                                        <td><img src="{{Token.LogoUrl}}" alt="" style="width: 20px; height: 20px;"> {{Token.Name}} (<a href=/token/{{Token.Symbol}}> {{Token.Symbol}} </a>)</td>
                                        {{#if Token.IsFungible}}
                                        <td>{{Balance}} {{Token.Symbol}}</td>
                                        {{#else}}
                                        <td>{{Balance}} {{Token.Symbol}}<a href="/tokens/{{Address}}"> View All</a> </td>
                                        {{/if}}
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                            {{#else}}
                            Nothing here...
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

