<div class="row">
    <div class="col-xs-12">
        <h1 class="page-title">Address {{address.Address}}</h1>
        <span>
            <p class="table-general" style="font-size: 14px;font-weight: 600;color: #7C95AB;">Account name:<span style="color: #17B0E7"> {{address.Name}}</span></p>
            <p class="table-general" style="font-size: 14px; color: #7C95AB;">Type: {{address.Address.Kind}}</p>
            <p class="table-general" style="font-size: 14px; color: #7C95AB;">Stake: {{#if address.Stake>0}} {{address.FormattedStake}} SOUL{{#else}}-{{/if}}</p>
        </span>
        {{#if address.Balances}}
        <div class="table-responsive">
            <table class="table table-striped table-general">
                <thead>
                    <tr>
                        <th>Balance</th>
                        <th>Chain</th>
                    </tr>
                </thead>
                <tbody>

                    {{#each address.Balances}}
                    <tr>
                        <td><img src="/img/tokens/{{Symbol}}.png" alt="" style="width: 20px; height: 20px; margin-right:16px;"><a href="/token/{{Symbol}}">{{FormattedAmount}} {{Symbol}}</td>
                        <td>{{#link-chain Chain.Name}}</td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>
        {{#else}}
        <br />
        <h4 style="color: #7C95AB; font-size: 16px; padding-left: 18px;">No balances to show</h4>
        <br />
        {{/if}}
    </div>
</div>

