<div class="row">
    <div class="col-xs-12">
        <h1 class="page-title">Addresses</h1>
        <div class="table-responsive">
            <table class="table table-striped table-general">
                <thead>
                    <tr>
                        <th>Address</th>
                        <th>Name</th>
                        <th>Balance (All chains)</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each addresses}}
                    <tr>
                        <td>{{#link-address Address}}</td>
                        <td>{{Name}}</td>
                        <td>{{Balance}} <a href="/token/SOUL">SOUL</a></td> <!--todo change this to context-->
                        <td>{{#value Value}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
