<div class="row">
    <div class="col-lg-12 col-sm-12">
        <h1 class="page-title">Apps</h1>
        <div class="table-responsive">
            <table class="table table-striped table-general">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Transactions</th>
                        <th>Url</th>
                        <th>Icon</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each apps}}
                    <tr>
                        <td>{{Rank}}</td>
                        <td>{{#link-app Title}}</td>
                        <td>{{TxCount}}</td>
                        <td>{{#externalLink Url}}</td>
                        <td>{{#appIcon Icon}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
