<div class="row">
    <div class="col-lg-12 col-sm-12 tab-panel-general">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item active">
                <a class="nav-link" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="transactions-tab" data-toggle="tab" href="#transactions" role="tab" aria-controls="transactions" aria-selected="false">Transactions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="events-tab" data-toggle="tab" href="#events" role="tab" aria-controls="events" aria-selected="false">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="oracles-tab" data-toggle="tab" href="#oracles" role="tab" aria-controls="oracles" aria-selected="false">Oracles</a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                <div class="panel panel-single">
                    <div class="panel-heading">Block Information</div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table no-border">
                                <tbody>
                                    <tr>
                                        <td>Date</td>
                                        <td>{{block.Date}} UTC</td>
                                    </tr>

                                    <tr>
                                        <td>Chain</td>
                                        <td><a href="/chain/{{block.Chain.Name}}">{{block.Chain.Name}}</a></td>
                                    </tr>

                                    <tr>
                                        <td>Previous Hash</td>
                                        <td>{{#if block.PreviousHash.IsNull}}None{{#else}}<a href="/block/{{block.Chain.Name}}/{{block.PreviousHash}}">{{block.PreviousHash}}</a>{{/if}}</td>
                                    </tr>

                                    <tr>
                                        <td>Block Height</td>
                                        <td><a href="/height/{{block.Chain.Name}}/{{block.Height}}">#{{block.Height}}</a></td>
                                    </tr>

                                    <tr>
                                        <td>Transactions</td>
                                        <td>{{block.TxsCount}}</td>
                                    </tr>

                                    <tr>
                                        <td>Validator</td>
                                        <td>{{#link-address block.ValidatorAddress}}</td>
                                    </tr>

                                    <tr>
                                        <td>Fees</td>
                                        <td>{{#link-address block.ValidatorAddress}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="transactions" role="tabpanel" aria-labelledby="transactions-tab">
                <div class="panel panel-single">
                    <div class="panel-heading">Block Transactions</div>
                    <div class="panel-body">
                        {{#if block.Transactions}}
                        <div class="table-responsive">
                            <table class="table table-striped table-general">
                                <thead>
                                    <tr>
                                        <th>Hash</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each block.Transactions}}
                                    <tr>
                                        <td>{{#link-tx Hash}}</td>
                                        <td>{{{this.Description}}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        {{#else}}
                        Nothing here...
                        {{/if}}
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="events" role="tabpanel" aria-labelledby="events-tab">
                <div class="panel panel-single">
                    <div class="panel-heading">Block Events</div>
                    <div class="panel-body">
                        {{#if block.Events}}
                        <div class="table-responsive">
                            <table class="table table-striped table-general">
                                <thead>
                                    <tr>
                                        <th>Kind</th>
                                        <th>Address</th>
                                        <th>Contract</th>
										<th>Content</th>
                                     </tr>
                                </thead>
                                <tbody>
                                    {{#each block.Events}}
                                    <tr>
                                        <td>{{Kind}}</td>
                                        <td>{{#link-address Address}}</td>
                                        <td>{{Contract}}</td>
                                        <td>{{#hex Data}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        {{#else}}
                        Nothing here...
                        {{/if}}
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="oracles" role="tabpanel" aria-labelledby="oracles-tab">
                <div class="panel panel-single">
                    <div class="panel-heading">Block Oracles</div>
                    <div class="panel-body">
                        {{#if block.OracleData}}
                        <div class="table-responsive">
                            <table class="table table-striped table-general">
                                <thead>
                                    <tr>
                                        <th>URL</th>
										<th>Content</th>
                                     </tr>
                                </thead>
                                <tbody>
                                    {{#each block.OracleData}}
                                    <tr>
                                        <td>{{URL}}</td>
                                        <td>{{#hex Content}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        {{#else}}
                        Nothing here...
                        {{/if}}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>