<div class="row">
	<div class="col-lg-12">
		<h1>Last Blocks</h1>
		<table class="table table-striped">
			<thead>
			  <tr>
				<th>TimeStamp</th>
				<th>Chain</th>
				<th>Hash</th>
				<th>Parent Hash</th>
				<th>Mined By</th>
			  </tr>
			</thead>
			<tbody>
				{{#each blocks}}
				  <tr>
					<td>{{#date timestamp}}</td>
					<td><a href="/chain/{{chainAddress}}">{{chainName}}</a></td>
					<td><a href="/block/{{hash}}">{{hash}}</a></td>
					<td><a href="/block/{{parentHash}}">{{parentHash}}</a></td>
					<td><a href="/address/{{miningAddress}}">{{miningAddress}}</a></td>
				  </tr>
				{{/each}}
			</tbody>
		</table>		
	</div>
</div>
