<div class="row">
    <div id="custom-search-input">
        <div class="input-group col-md-12">
            <form action="/home" method="POST">
                <input type="text" class="search-query form-control" id="searchInput" name="searchInput" value="{{searchInput}}" placeholder="Search by Address / Txhash / Block / Token" />
                <span class="input-group-btn">
                    <button class="btn pull-right" type="submit">
                        <span class=" glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </form>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Phantasma Overview</div>
            <div class="panel-body">
                <table class="table" style="margin-bottom: 0px;">
                    <tbody>
                        <tr>
                            <td>Market Cap</td>
                            <td>{{#async marketcap}}</td>
                        </tr>
                        <tr>
                            <td>Main chain last block</td>
                            <td>{{home.BlockHeight}}</td>
                        </tr>
                        <tr>
                            <td>Total Transactions</td>
                            <td>{{#format-amount home.TotalTransactions}}</td>
                        </tr>
                        <tr>
                            <td>Total Chains</td>
                            <td>{{home.TotalChains}}</td>
                        </tr>
                    </tbody>
                </table>
                {{#async rates}}
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Phantasma Transactions History <small>(Last 15 days)</small></div>
            <div class="panel-body">
                <div id="my-chart"></div>
            </div>
        </div>
    </div>
</div>

<script>
// TODO: add support for https://github.com/tmmdata/chartist-plugin-tooltip
function onStart(){

	let data = {
	  labels: [ {{#each home.Chart}}'{{Key}}', {{/each}}],
	  series: [
		[{{#each home.Chart}}{{Value}}, {{/each}}],
	  ]
	};

	let options = {
		fullWidth: true,
		height: 300,
		chartPadding: {
			right: 40
		}
	};

	new Chartist.Line('#my-chart', data, options);
}

</script>

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fas fa-cubes"></i> Blocks
                <div class="btn-group pull-right">
                    <a href="/blocks" class="btn btn-default btn-sm" style="margin-top: -4px;">View All</a>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tbody>
                        {{#each home.Blocks}}
                        <tr>
                            <td>
                                <span><a href="/block/{{Hash}}">Block {{Height}}</a></span><br>
                                <i>&gt;{{#timeago Timestamp}}</i>
                            </td>
                            <td>
                                Miner: {{#link-address MiningAddress}}<br>
                                Chain: <a href="/chain/{{ChainAddress}}">{{ChainName}}</a><br>
                                <a href="/txsblock/{{Hash}}"><strong>{{Transactions}} Txn</strong></a><br>
                                Block reward: {{Reward}} SOUL
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fas fa-database"></i> Transactions
                <div class="btn-group pull-right">
                    <a href="/transactions" class="btn btn-default btn-sm" style="margin-top: -4px;">View All</a>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tbody>
                        {{#each home.Transactions}}
                        <tr>
                            <td>
                                TX# {{#link-tx Hash}}<br>
                                <i>&gt;{{#timeago Block.Timestamp}} in <a href="/chain/{{Block.ChainAddress}}">{{Block.ChainName}}</a> chain</i><br>
                                {{{Description}}}<br>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>