<div class="row">
   <div id="custom-search-input">
		<div class="input-group col-md-12">
			<form action="/home" method="POST">
				<input type="text" class="search-query form-control" id="searchInput" name="searchInput" value="{{searchInput}}" placeholder="Search by Address / Txhash / Block / Token"/>
				<span class="input-group-btn">
					<button class="btn pull-right" type="submit">
						<span class=" glyphicon glyphicon-search"></span>
					</button>
				</span>
			</form>
		</div>
	</div>
</div>

<div class="row">

	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">Phantasma Overview</div>
			<div class="panel-body">
				<table class="table table-striped">
					<tbody>
					  <tr>
						<td>Market Cap</td>
						<td>??????</td>
					  </tr>
					  <tr>
						<td>Last Block</td>
						<td>??????</td>
					  </tr>
					  <tr>
						<td>Total Transactions</td>
						<td>??????</td>
					  </tr>
					  <tr>
						<td>Total Chains</td>
						<td>??????</td>
					  </tr>
					  <tr>
						<td>SOUL/USD</td>
						<td>0.23 USD <span class="label label-success label-as-badge">+10%</span></td>
					  </tr>
					  <tr>
						<td>SOUL/BTC</td>
						<td>0.23 BTC <span class="label label-success label-as-badge">+10%</span></td>
					  </tr>
					  <tr>
						<td>SOUL/ETH</td>
						<td>0.23 ETH <span class="label label-success label-as-badge">+10%</span></td>
					  </tr>
					  <tr>
						<td>SOUL/NEO</td>
						<td>0.23 NEO <span class="label label-success label-as-badge">+10%</span></td>
					  </tr>
					</tbody>
				</table>
			</div>
		</div>	
	</div>	

 	<div class="col-sm-6">	
		<div class="panel panel-default">
			<div class="panel-heading">Phantasma Transactions History <small>(Last 15 days)</small></div>
			<div class="panel-body">
				<div id="my-chart"></div>
			</div>
		</div>	
	</div>
</div>

<script>
// TODO: add support for https://github.com/tmmdata/chartist-plugin-tooltip
function onStart(){

	let data = {
	  labels: [ {{#each home.Chart}}'{{Key}}', {{/each}}],
	  series: [
		[{{#each home.Chart}}{{Value}}, {{/each}}],
	  ]
	};
	
	let options = {
		fullWidth: true,
		height: 300,
		chartPadding: {
			right: 40
		}
	};

	new Chartist.Line('#my-chart', data, options);
}

</script>

<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading"><i class="fas fa-cubes"></i> Blocks
				<div class="btn-group pull-right">
					<a href="/blocks" class="btn btn-default btn-sm" style="margin-top: -4px;">View All</a>
			  </div>
			</div>
			<div class="panel-body">
				<table class="table table-striped">
				<tbody>
					{{#each home.Blocks}}
					<tr>
						<td>
							<span><a href="/block/{{Hash}}">Block {{Height}}</a></span><br>
							<i>&gt;{{#timeago Timestamp}}</i>
						</td>
						<td>
							Miner: <a href="/address/{{MiningAddress}}" style="text-overflow: ellipsis;">{{MiningAddress}}</a><br>
							<a href="/txsblock/{{Hash}}"><strong>{{Transactions}} Txn</strong></a><br>
							Block reward: {{Reward}} SOUL	
						</td>
					</tr>
					{{/each}}
				</tbody>
				</table>
			</div>
		</div>	
	</div>
	
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading"><i class="fas fa-database"></i> Transactions
				<div class="btn-group pull-right">
					<a href="/transactions" class="btn btn-default btn-sm" style="margin-top: -4px;">View All</a>
			  </div>
			</div>
			<div class="panel-body">
				<table class="table table-striped">
				<tbody>
					{{#each home.Transactions}}
					<tr>
						<td>
							TX# <a href="/tx/{{Hash}}"><small>{{Hash}}</small></a><br>
							<i>&gt;{{#timeago Block.Timestamp}}</i><br>
							From BLA To BLE<br> 
							Chain: <a href="/chain/{{Chain}}"><small>{{Chain}}</small></a><br>
						</td>
					</tr>
					{{/each}}
				</tbody>
				</table>
			</div>
		</div>	
	</div>
	
</div>

<br><br><br><br><br>
<div class="profile-body">
	<div class="profile container" style="margin-top: 0px">

			<div class="col-sm-6">
				<div class="panel panel-profile no-bg">
					<div class="panel-heading overflow-h">
						<a href="/transactions" class="btn-u pull-right"
						   style="background-color: transparent; color: darkslateblue; border-radius: 5px">
							View all
						</a>
						<h2 class="panel-title">Transactions</h2>
						<span style="color: #999999; font-size: 11px; margin-bottom: -20px; padding-bottom: 0px;"></span>
					</div>
					<div class="panel-body no-padding mCustomScrollbar _mCS_2 mCS-autoHide"
						 data-mcs-theme="minimal-dark"
						 style="height: 580px; position: relative; overflow: visible">
						<div class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" tabindex="0">
							<div class="mCSB_container" style="position: relative; top: 0; left: 0;" dir="ltr">
								{{#each home.Transactions}}
								<div class="profile-post color-one">
									<div class="profile-post-in">
										<h4 class="heading-xs" style="padding-left: 5px">
											TX#
											<a class="hash-tag-frontpage" href="/tx/{{Hash}}">
												<span style="font-size: medium">{{Hash}}</span>
											</a>
											<span class="pull-right" style="font-size: small">
												{{#timeago Date}}
											</span>
										</h4>
									</div>
								</div>
								{{/each}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>
