<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Phantasma Explorer</title>

    <!-- CSS libs -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="/css/chartist.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/explorer.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
	<script>
	var dynamicContents = [];	
	</script>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home">
                    <img src="/img/phantasma_logo.png" height="48px" alt="">
					<h1>Phantasma Explorer</h1>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
					{{#each menu}}
                    <li>
                        <a href="{{url}}"{{#if active}} class="active"{{/if}}>{{text}}</a>
                    </li>
					{{/each}}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div id="main" class="container">
		{{#body}}
    </div>
    <!-- /.container -->

    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
					Copyright &copy; <a href="https://phantasma.io">Phantasma Team</a> 2018
                    </div>
                </div>
            </div>
        </div>
    </footer>
		
    <!-- JS libs -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/chartist.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	<script>
	$(function() {
		let initMethod = "onStart";
		if (typeof window[initMethod] === "function") {
			window[initMethod](); 
		}

		for (let i = 0; i < dynamicContents.length; i++) {
			let  obj = dynamicContents[i];					
			let targetID = "#dynamic_"+obj.id;
			console.log("Fetching ",obj);
			$.ajax({
			 type: "GET",
			 url: obj.url,
			 success: function(data) {
				console.log("Set ",targetID, " to ",data);
				$(targetID).replaceWith(data);
			 }

			});			
		} 		
	});
	</script>
</body>

</html>
