<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Phantasma Explorer</title>

    <!-- CSS libs -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link href="/css/chartist.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/phantasma.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <script>
        var dynamicContents = [];
    </script>

    <!-- Navigation -->
    <nav class="navbar navbar-collapse" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand pull-left logo" href="/home">
                    <span class="pull-left"><img src="/img/logo.png" height="34px" style="margin-right: 20px;" alt="Phantasma"></span>
                    <h3 class="navbar-text logo-header">Phantasma</h3>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {{#each menu}}
                    <li class="menu-top-bar-li">
                        <a href="{{Url}}" {{#if Active}} class="active" {{/if}}>{{Text}}</a>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div id="main" class="container">
        <h1 class="home-title"> - Phantasma <span style="font-weight: 600;">Explorer</span> - </h1>
        <div class="col-xs-12 search-box">
            <div id="custom-search-input">
                <form action="/home" method="POST">

                    <div class="input-group">
                        <input type="text" class="search-query form-control" id="searchInput" name="searchInput" value="{{searchInput}}" placeholder="Search by Address / Txhash / Block / Token" />
                        <span class="input-group-btn">
                            <button class="btn pull-right">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>

                </form>
            </div>
        </div>

        {{#body}}
    </div>
    <!-- /.container -->

    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="footer-copyrights">
                            Copyright &copy; <a href="https://phantasma.io">Phantasma Team</a> 2018
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- JS libs -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/chartist.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script>
        $(function () {
            let initMethod = "onStart";
            if (typeof window[initMethod] === "function") {
                window[initMethod]();
            }

            for (let i = 0; i < dynamicContents.length; i++) {
                let obj = dynamicContents[i];
                let targetID = "#dynamic_" + obj.id;
                console.log("Fetching ", obj);
                $.ajax({
                    type: "GET",
                    url: obj.url,
                    success: function (data) {
                        console.log("Set ", targetID, " to ", data);
                        $(targetID).replaceWith(data);
                    }

                });
            }
        });

        // Javascript to enable link to tab
        var hash = document.location.hash;
        var prefix = "tab_";
        if (hash) {
            $('.nav-tabs a[href="' + hash.replace(prefix, "") + '"]').tab('show');
        }

        // Change hash for page-reload
        $('.nav-tabs a').on('shown.bs.tab', function (e) {
            window.location.hash = e.target.hash.replace("#", "#" + prefix);
        });
    </script>
</body>

</html>
