<div class="row">
    <div class="col-sm-12">
        <h1 class="page-title" >Marketplace</h1>
        {{#if marketplace.AuctionsList}}
        {{#each marketplace.AuctionsList}}

        <div class="col-sm-3 text-center" style="margin-bottom: 20px;">
            <div class="card card-market shadow-sm p-3 mb-5 bg-white rounded">
                <!--card-->
                <!--<div class="view overlay">
                    <a href="{{InfoUrl}}/{{TokenId}}">
                        <img class="card-img-top" src="{{ViewerUrl}}/{{TokenId}}" alt="Card image cap">
                    </a>
                </div>-->
                <div class="card-header">Token ID: <b>{{TokenId}}</b></div>

                <a href="{{ViewerUrl}}/{{TokenId}}" style="text-align: center;">
                    <img class="card-img-top card-image" src="{{ViewerUrl}}/{{TokenId}}" alt="Card image cap">
                    <!--<img class="card-img-top card-image" src="https://dummyimage.com/500x600/000/fff" alt="Card image cap">-->
                </a>

                <div class="card-body">
                    <div class="card-text">
                        <p class="item-date">Started: {{StartDate}}</p>
                        <p class="item-date">Ends: {{EndDate}}</p>
                    </div>
                 
                    <p class="card-text price-text" >Price: <b>{{Price}} {{QuoteSymbol}}</b></p>
                    <a href="{{InfoUrl}}/{{TokenId}}" target="_blank" rel="noopener noreferrer"
                       class="btn btn-primary btn-block card-button">Details</a>
                </div>
            </div>
        </div>
        {{/each}}
        <div class="col-sm-12">
            <ul class="pager">
                {{#if pagination.ShowPrevious}}
                <li class="previous"><a href="/blocks/{{pagination.PreviousPage}}"><span aria-hidden="true">&larr;</span> Previous</a></li>
                {{#else}}
                <li class="previous disabled"><a><span aria-hidden="true">&larr;</span> Previous</a></li>
                {{/if}}

                {{#if pagination.ShowNext}}
                <li class="next"><a href="/blocks/{{pagination.NextPage}}">Next <span aria-hidden="true">&rarr;</span></a></li>
                {{#else}}
                <li class="next disabled"><a>Next <span aria-hidden="true">&rarr;</span></a></li>
                {{/if}}
            </ul>
        </div>
    </div>

    {{#else}}
    Nothing here...
    {{/if}}
</div>

