<div class="row justify-content-center">
    <h1 class="page-title">NFT Marketplace</h1>
    {{#if marketplace.AuctionsList}}
    {{#each marketplace.AuctionsList}}
    <div class="col-sm-3 text-center" style="margin-bottom: 20px;">
        <div class="card">
            <!--card-->
            <div class="view overlay">
                <a href="#">
                    <img class="card-img-top" src="https://placehold.it/160x160/abc" alt="Card image cap">
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Token ID: {{TokenId}}</h5>
                <p class="card-text">Started: {{StartDate}}</p>
                <p class="card-text">Ends: {{EndDate}}</p>
                <p class="card-text">Price: {{Price}} {{QuoteSymbol}}</p>

                <a href="https://nacho.men/luchador/{{TokenId}}" target="_blank" rel="noopener noreferrer" class="btn btn-indigo btn-rounded btn-md">See details</a>
            </div>
        </div>
    </div>
    {{/each}}
    {{#else}}
    Nothing here...
    {{/if}}
</div>

