<div class="row">
    {{#each nftTokens}}
    <h3>{{Symbol}}</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th width="128"></th>
                <th width="128">Number</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody>
            {{#each Ids}}
            <tr>
                <td><img src="https://nacho.men/luchador/body/43" width="64"/></td>
                <td>{{this}}#</td>
                <td>-</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/each}}
</div>