<div class="row first-page-row">
    {{#each nftTokens}}
    <h3 class="page-title">{{Symbol}}</h3>
    {{#if HasViewerUrl}}
    <table class="table table-striped table-general" style="table-layout: fixed">
        <thead>
            <tr>
                <th width="128"></th>
                <th width="128">Number</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody>
            {{#each InfoList}}
            <tr>
                <td><img src="{{ComposeUrl}}" width="64" /></td>
                <td>{{Id}}#</td>
                <td>{{Info}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    {{#else}}
    <table class="table table-striped table-general" style="table-layout: fixed">
        <thead>
            <tr>
                <th width="128">Number</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody>
            {{#each InfoList}}
            <tr>
                <td>{{Id}}#</td>
                <td>{{Info}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/if}}
    {{/each}}
</div>