<table class="table">
	<tbody>
		{{#each this}}
		<tr>
			<td class="home-label"><a id="popover_{{Symbol}}" class="btn" href="https://coinmarketcap.com/currencies/phantasma/" rel="popover" data-original-title="SOUL/{{Symbol}}">SOUL/{{Symbol}}</a></td>
			<td class="home-label-value">{{Rate}} {{Symbol}} <span class="label {{#if ChangePercentage > 0}}label-success{{#else}}label-danger{{/if}} label-as-badge pull-right">{{ChangePercentage}}%</span></td>
		</tr>
		{{/each}}
	</tbody>
</table>

<script>
{{#each this}}
	var {{Symbol}}_link = $('#popover_{{Symbol}}');
	{{Symbol}}_link.popover({
		trigger: 'hover',
		template: '<div class="popover" role="tooltip" style="width: 800px; max-width:800px;"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"><div class="data-content"></div></div></div>',
		html: true,
		placement: 'bottom',
		content: '<div id="{{Symbol}}-chart"></div>',	
	});
	
	var {{Symbol}}_data = {
	  labels: [ {{#each Chart}}'{{Key}}', {{/each}}],
	  series: [
		[{{#each Chart}}{{Value}}, {{/each}}],
	  ]
	};
			
	var {{Symbol}}_options = {
		fullWidth: true,
		height: 400,
		chartPadding: {
			right: 40
		}
	};

	{{Symbol}}_link.on('shown.bs.popover', function () {		
		new Chartist.Line('#{{Symbol}}-chart', {{Symbol}}_data, {{Symbol}}_options);	
	});	
{{/each}}
</script>