<div class="row">
    <div class="col-lg-12 tab-panel-general">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                <div class="panel panel-single">
                    <div class="panel-heading">Crowdsale</div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table no-border">
                                <tbody>
                                    <tr>
                                        <td>Hash</td>
                                        <td>{{sale.Hash}}</td>
                                    </tr>
                                    <tr>
                                        <td>Name</td>
                                        <td>{{sale.Name}}</td>
                                    </tr>

                                    <tr>
                                        <td>Start Date</td>
                                        <td>{{sale.StartDate}}</td>
                                    </tr>

                                    <tr>
                                        <td>End Date</td>
                                        <td>{{sale.EndDate}}</td>
                                    </tr>
									
                                    <tr>
                                        <td>Selling</td>
                                        <td><a href = "/token/{{sale.SellSymbol}}" >{{sale.SellSymbol}}</a></td>
                                    </tr>

                                    <tr>
                                        <td>Accepting</td>
                                        <td><a href = "/token/{{sale.ReceiveSymbol}}" >{{sale.ReceiveSymbol}}</a></td>
                                    </tr>
									
                                    <tr>
                                        <td>Price</td>
                                        <td>{{sale.Price}} {{sale.SellSymbol}} per 1 {{sale.ReceiveSymbol}}</a></td>
                                    </tr>
									
									<!--TODO display soft / hard caps -->

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
