<div class="row ">

    <h2 class="page-title">
        Token
        {{token.Symbol}}
        <img src="/img/tokens/{{token.Symbol}}.png" onerror="this.src='/img/tokens/default.png'" alt="" style="margin-left:16px; width: 32px; height: 32px;" />
    </h2>

    <br />
    <div class="col-md-6">
        <div class="table-responsive">
            <table class="table table-general">
                <!-- TODO specific css for these tables -->
                <tbody>
                    <tr>
                        <td>
                            <span>Name</span>
                        </td>
                        <td>{{token.Name}}</td>
                    </tr>
                    <tr>
                        <td>
                            <span>Price</span>
                        </td>
                        <td>{{#if token.Price>0}}${{token.Price}}{{#else}}-{{/if}}</td>
                    </tr>
                    <tr>
                        <td>
                            <span>Total Supply</span>
                        </td>
                        {{#if token.IsFinite}}
                        <td>{{token.FormattedMaxSupply}} {{token.Symbol}}</td>
                        {{#else}}
                        <td>-</td>
                        {{/if}}
                    </tr>
                    <tr>
                        <td>
                            <span>Current Supply</span>
                        </td>
                        <td>{{token.FormattedCurrentSupply}} {{token.Symbol}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="table-responsive">
            <table class="table table-general">
                <tbody>

                    <tr>
                        <td>
                            <span>Decimals</span>
                        </td>
                        {{#if token.IsFungible}}
                        <td>{{#if token.Decimals>0}}{{token.Decimals}}{{#else}}Indivisible{{/if}}</td>
                        {{#else}}
                        <td>-</td>
                        {{/if}}
                    </tr>

                    <tr>
                        <td>
                            <span>Transferable</span>
                        </td>
                        {{#if token.IsTransferable}}
                        <td>Yes</td>
                        {{#else}}
                        <td>No</td>
                        {{/if}}
                    </tr>
                    <tr>
                        <td>
                            <span>Fungibility</span>
                        </td>
                        {{#if token.IsFungible}}
                        <td>Fungible</td>
                        {{#else}}
                        <td>Non-Fungible</td>
                        {{/if}}
                    </tr>
					
                  <tr>
                        <td>
                            <span>Contract</span>
                        </td>                        
                        <td>{{#link-contract token.Symbol}}</td>                        
                  </tr>
					
                </tbody>
            </table>
        </div>
    </div>

</div>

<!--
    <div class="col-lg-12  tab-panel-general">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item active">
                <a class="nav-link" id="transfers-tab" data-toggle="tab" href="#transfers" role="tab" aria-controls="transfers" aria-selected="true">Transfers</a>
            </li>
            {{#if token.IsFungible}}
            <li class="nav-item">
                <a class="nav-link" id="holders-tab" data-toggle="tab" href="#holders" role="tab" aria-controls="holders" aria-selected="false">Top Holders</a>
            </li>
            {{/if}}
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane active" id="transfers" role="tabpanel" aria-labelledby="transfers-tab">
                <div class="panel panel-single">
                    <div class="panel-body" style="word-break:break-all">
                        {{#if transfers}}
                        <div class="table-responsive">
                            <table class="table table-striped table-general">
                                <thead>
                                    <tr>
                                        <th>TxHash</th>
                                        <th>Age</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each transfers}}
                                    <tr>
                                        <td>{{#link-tx Hash}}</td>
                                        <td>{{#timeago Date}}</td>
                                        <td>{{#link-address SenderAddress}}</td>
                                        <td>{{#link-address ReceiverAddress}}</td>
                                        <td>{{AmountTransfer}} {{TokenSymbol}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        {{#else}}
                        Nothing here...
                        {{/if}}
                    </div>
                </div>
            </div>
            {{#if token.IsFungible}}
            <div class="tab-pane fade" id="holders" role="tabpanel" aria-labelledby="holders-tab">
                <div class="panel panel-single">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-general">
                                <thead>
                                    <tr>
                                        <th>Address</th>
                                        <th>Balance (All chains)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each holders}}
                                    <tr>

                                        <td>{{#link-address Address}}</td>
                                        {{#if token.IsFungible}}
                                        <td>{{Balance}} {{Token.Symbol}}</td>
                                        {{#else}}
                                        <td>{{Balance}} {{Token.Symbol}}<a href="/tokens/{{Address}}"> View All</a> </td>
                                        {{/if}}
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {{#else}}
            {{/if}}
        </div>
    </div>
</div>
-->