<div class="row">
    <h2>
        Token
        <img src="{{token.LogoUrl}}" alt="" style="width:20; height:20;">  
        {{token.Symbol}}
    </h2>

    <br />
    <div class="col-md-6">

        <table class="table">
            <thead>
                <tr>
                    <th>{{token.Name}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span>Price</span>
                    </td>
                    <td>${{token.Price}}</td>
                </tr>
                <tr>

                    <td>
                        <span>Total Supply</span>
                    </td>
                    <td>{{token.MaxSupply}}</td>
                </tr>
                <tr>
                    <td>
                        <span>Current Supply</span>
                    </td>
                    <td>{{token.CurrentSupply}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr><th>Summary </th></tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        <span>Decimals</span>
                    </td>
                    <td>{{token.Decimals}}</td>
                </tr>
                <tr>
                    <td>
                        <span>Contract</span>
                    </td>
                    <td>{{token.ContractHash}}</td>
                </tr>
                <tr>
                    <td>
                        <span>Transfers</span>
                    </td>
                    <td>{{token.Transfers}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>