<div class="row ">

    <h2 class="page-title">
        Token
        <img src="{{token.LogoUrl}}" alt="" style="width: 20; height: 20;">
        {{token.Symbol}}
    </h2>

    <br />
    <div class="col-md-6">

        <table class="table table-responsive table-general"><!-- TODO specific css for these tables -->
            <thead>
                <tr>
                    <th>{{token.Name}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span>Price</span>
                    </td>
                    <td>${{token.Price}}</td>
                </tr>
                <tr>

                    <td>
                        <span>Total Supply</span>
                    </td>
                    {{#if token.IsFinite}}
                    <td>{{token.MaxSupply}} {{token.Symbol}}</td>
                    {{#else}}
                    <td>-</td>
                    {{/if}}
                </tr>
                <tr>
                    <td>
                        <span>Current Supply</span>
                    </td>
                    <td>{{token.CurrentSupply}} {{token.Symbol}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-responsive table-general">
            <thead>
                <tr><th>Summary </th></tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        <span>Decimals</span>
                    </td>
                    <td>{{token.Decimals}}</td>
                </tr>
                <tr>
                    <td>
                        <span>Transfers</span>
                    </td>
                    <td>{{token.Transfers}}</td>
                </tr>

                <tr>
                    <td>
                        <span>Transferable</span>
                    </td>
                    {{#if token.IsTransferable}}
                    <td>Yes</td>
                    {{#else}}
                    <td>No</td>
                    {{/if}}
                </tr>
                <tr>
                    <td>
                        <span>Fungibility</span>
                    </td>
                    {{#if token.IsFungible}}
                    <td>Fungible</td>
                    {{#else}}
                    <td>Non-Fungible</td>
                    {{/if}}
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-lg-12  tab-panel-general">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item active">
                <a class="nav-link" id="transfers-tab" data-toggle="tab" href="#transfers" role="tab" aria-controls="transfers" aria-selected="true">Transfers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="holders-tab" data-toggle="tab" href="#holders" role="tab" aria-controls="holders" aria-selected="false">Holders</a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane active" id="transfers" role="tabpanel" aria-labelledby="transfers-tab">
                <div class="panel panel-single">
                    <div class="panel-body" style="word-break:break-all">
                        {{#if transfers}}
                        <table class="table table-responsive table-striped table-general">
                            <thead>
                                <tr>
                                    <th>TxHash</th>
                                    <th>Age</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each transfers}}
                                <tr>
                                    <td>{{#link-tx Hash}}</td>
                                    <td>{{#timeago Block.Timestamp}}</td>
                                    <td>{{#link-address SenderAddress}}</td>
                                    <td>{{#link-address ReceiverAddress}}</td>
                                    <td>{{AmountTransfer}} {{TokenSymbol}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        {{#else}}
                        Nothing here...
                        {{/if}}
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="holders" role="tabpanel" aria-labelledby="holders-tab">
                <div class="panel panel-single">
                    <div class="panel-body">
                        {{#if holders}}
                        <table class="table table-responsive table-striped table-general">
                            <thead>
                                <tr>
                                    <th>Address</th>
                                    <th>Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each holders}}
                                <tr>

                                    <td>{{#link-address Address}}</td>
                                    {{#if Token.IsFungible}}
                                    <td>{{Balance}} {{Token.Symbol}}</td>
                                    {{#else}}
                                    <td>{{Balance}} {{Token.Symbol}}<a href="/tokens/{{Address}}"> View All</a> </td>
                                    {{/if}}
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        {{#else}}
                        Nothing here...
                        {{/if}}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
