<div class="row">
    <div class="col-lg-12">
        <h1>Latest Transactions</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Chain</th>
                    <th>Hash</th>
                </tr>
            </thead>
            <tbody>
                {{#each transactions}}
                <tr>
                    <td>{{#date Date}}</td>
                    <td><a href="/chain/{{ChainAddress}}">{{ChainName}}</a></td>
                    <td><a href="/tx/{{Hash}}">{{Hash}}</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
