<div class="row">
	<div class="col-lg-12">
		<h2>Transactions for block<br><small><a href="/block/{{BlockHash}}">{{BlockHash}}</a></small></h2>		
	    <br>
			
		<table class="table table-striped">
			<thead>
			  <tr>
				<th>TxHash</th>
				<th>Block Height</th>
				<th>Age</th>
			  </tr>
			</thead>
            <tbody>
                {{#each transactionsBlock}}
                <tr>
                    <td>{{#link-tx Hash}}</td>
                    <td>{{Block.Height}}</td>
                    <td>{{#date Date}}</td>
                </tr>
                {{/each}}
            </tbody>
		</table>		
	</div>
</div>
