<div class="row">
    <div class="col-xs-12">
        <h1 class="page-title">Latest Transactions</h1>
        <div class="table-responsive">
            <table class="table table-striped table-general">
                <thead>
                    <tr>
                        <th>Hash</th>
                        <th>Date</th>
                        <th>Chain</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each transactions}}
                    <tr>
                        <td>{{#link-tx Hash}}</td>
                        <td>{{#date Date}}</td>
                        <td><a href="/chain/{{ChainAddress}}">{{ChainName}}</a></td>
                        <td>{{#description this}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-sm-12">
            <ul class="pager">
                {{#if pagination.ShowPrevious}}
                <li class="previous"><a href="/transactions/{{pagination.PreviousPage}}"><span aria-hidden="true">&larr;</span> Previous</a></li>
                {{#else}}
                <li class="previous disabled"><a><span aria-hidden="true">&larr;</span> Previous</a></li>
                {{/if}}

                {{#if pagination.ShowNext}}
                <li class="next"><a href="/transactions/{{pagination.NextPage}}">Next <span aria-hidden="true">&rarr;</span></a></li>
                {{#else}}
                <li class="previous disabled"><a><span aria-hidden="true">&larr;</span>Next </a></li>
                {{/if}}
            </ul>
        </div>
    </div>
</div>
