<div class="row">
	<div class="col-lg-12">
		<h1>Transactions for block<br><small>{{transactionsBlock.ElementAt(0).Block.Height}}</small></h1>		
		<br>
			
		<table class="table table-striped">
			<thead>
			  <tr>
				<th>TxHash</th>
				<th>Block</th>
				<th>Age</th>
				<th>From</th>
				<th>From Name</th>
			  </tr>
			</thead>
            <tbody>
                {{#each transactionsBlock}}
                <tr>
                    <td><a href="/tx/{{Hash}}">{{Hash}}</a></td>
                    <td><a href="/block/{{Block.Height}}">{{Block.Height}}</a></td>
                    <td>{{#date Date}}</td>
                    <td>{{FromAddress}}</td>
                    <td>{{FromName}}</td>
                </tr>
                {{/each}}
            </tbody>
		</table>		
	</div>
</div>
