<div class="row">
	<div class="col-lg-12">
		  	
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item active">
			<a class="nav-link" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="script-tab" data-toggle="tab" href="#script" role="tab" aria-controls="events" aria-selected="false">Script</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="events-tab" data-toggle="tab" href="#events" role="tab" aria-controls="events" aria-selected="false">Events</a>
		</li>
	</ul>
	
	<div class="tab-content" id="myTabContent">
		<div class="tab-pane active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
			<div class="panel panel-default">
			  <div class="panel-heading">Transaction Information</div>
			  <div class="panel-body">
			  
				<table class="table no-border">
					<tbody>
						<tr>	
							<td>Date</td>
							<td>{{#date transaction.date}}</td>
						</tr>

						<tr>	
							<td>Transaction Hash</td>
							<td><a href="/tx/{{transaction.hash}}">{{transaction.hash}}</a></td>
						</tr>

						<tr>	
							<td>Chain</td>
							<td><a href="/chain/{{transaction.chainAddress}}">{{transaction.chainName}}</a></td>
						</tr>

						<tr>	
							<td>Block Hash</td>
							<td><a href="/block/{{transaction.block.Hash}}">{{transaction.block.Hash}}</a></td>
						</tr>

						<tr>	
							<td>Block Height</td>
							<td><a href="/address/{{transaction.fromAddress}}">{{transaction.block.Height}}</a></td>
						</tr>

						<tr>	
							<td>From</td>
							<td><a href="/address/{{transaction.fromAddress}}">{{transaction.fromName}}</a></td>
						</tr>
						
					</tbody>
				</table>		
			  </div>			  
			</div>		 		  
		  </div>
		  
		  <div class="tab-pane fade" id="script" role="tabpanel" aria-labelledby="script-tab">
				<div class="panel panel-default">
					<div class="panel-heading">Transaction Script</div>
					<div class="panel-body">
					{{#if transaction.instructions}}			
						<table class="monospace">
						{{#each transaction.instructions}}
						<tr>
						  <td>{{this}}</td>
						</tr>					
						{{/each}}						
						</table>
					{{#else}}
					Nothing here...
					{{/if}}
				</div>
			</div>
		  </div>

		  <div class="tab-pane fade" id="events" role="tabpanel" aria-labelledby="events-tab">
				<div class="panel panel-default">
					<div class="panel-heading">Transaction Events</div>
					<div class="panel-body">
					{{#if transaction.events}}			
					<table class="table table-striped">
						<thead>
						  <tr>
							<th>Kind</th>
							<th>Content</th>
						  </tr>
						</thead>
						<tbody>
							{{#each transaction.events}}
							  <tr>
								<td>{{kind}}</td>
								<td>{{{content}}}</td>
							  </tr>
							{{/each}}
						</tbody>
					</table>										
					{{#else}}
					Nothing here...
					{{/if}}
				</div>
			</div>
		  </div>
		  
		</div>
	</div>
</div>
