<div class="row">
    <div class="col-xs-12">
        <h1 class="page-title">Latest Transactions</h1>
        <div class="table-responsive">
            <table class="table table-striped table-general">
                <thead>
                    <tr>
                        <th>Hash</th>
                        <th>Date</th>
                        <th>Chain</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each transactions}}
                    <tr>
                        <td>{{#link-tx Hash}}</td>
                        <td>{{#date Date}}</td>
                        <td><a href="/chain/{{ChainAddress}}">{{ChainName}}</a></td>
                        <td>{{#description this}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
